<table class="table">
    <thead>
        <tr>
            <th colspan="2">Class Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Class</th>
            <td> {{classroom.description}} </td>
        </tr>
        <tr>
            <th>Days</th>
            <td>{{classroom.days}}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{classroom.startDate | date:'shortDate'}} - {{classroom.endDate | date:'shortDate'}}
            </td>
        </tr>
        <tr>
            <th>Time</th>
            <td>{{classroom.startDate | date:'shortTime'}} - {{classroom.endDate | date:'shortTime'}}
            </td>
        </tr>
        <tr>
            <th>Enrolled</th>
            <td>{{classroom.enrolled}}/{{classroom.capacity}}</td>
        </tr>
    </tbody>
</table>