<app-loading-spinner [httpLoading]="loading"></app-loading-spinner>
<div class="container col-sm-3">
    <div class="card my-5 out">
        <div class="card-body">
            <fieldset [class.overlay]="loading" [disabled]="loading">
                <form *ngIf="success == null && !showChangeForm" class="py-3" [formGroup]="emailForm" (ngSubmit)="requestPassChange()">
                    <div class="row">
                        <div class="col m-3">
                            <h1 class="display-5 text-center">Forgot password?</h1>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col m-3">
                            <input type="email" class="form-control out" placeholder="Email" formControlName="email"
                                [class.is-invalid]="email.invalid && email.touched">
                            <small [class.d-none]="email.valid || email.untouched" class="text-danger">Enter your
                                email</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col m-3 text-center">
                            <small>Go back to <a href="/login">login.</a></small>
                        </div>
                    </div>

                    <div class="row">
                        <div class=" col m-3">
                            <div class="form-group">
                                <button type="submit" class="btn btn-outline-primary btn-lg out"
                                    [disabled]="!emailForm.valid">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
                
                <form *ngIf="success == null && showChangeForm" class="py-3" [formGroup]="changePassForm" (ngSubmit)="changePassword()">
                    <div class="row">
                        <div class="col m-3">
                            <h1 class="display-5 text-center">Enter your new password</h1>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col m-3">
                            <input type="password" class="form-control out" placeholder="Password"
                                formControlName="password"
                                [class.is-invalid]="password.invalid && password.touched ||changePassForm.errors?.patternMismatch">
                            <small [class.d-none]="password.valid || password.untouched" class="text-danger">Enter
                                password</small>
                            <div [class.d-none]="!changePassForm.errors?.patternMismatch" class="text-danger m-2">
                                <small>Password must have the following:</small><br>
                                <small>At least 8 characters</small><br>
                                <small>At least one uppercase and lowercase letter</small><br>
                                <small>At least one number</small><br>
                                <small>At least one special character e.g. !@#?</small>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col m-3">
                            <input type="password" class="form-control out" placeholder="Confirm Password"
                                formControlName="confirmPassword" [class.is-invalid]="changePassForm.errors?.mismatch">
                            <small [class.d-none]="!changePassForm.errors?.mismatch" class="text-danger">Passwords do not
                                match</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class=" col m-3">
                            <div class="form-group">
                                <button type="submit" class="btn btn-outline-primary btn-lg out"
                                    [disabled]="!changePassForm.valid">Reset Password</button>
                            </div>
                        </div>
                    </div>
                </form>
            </fieldset>

            <div *ngIf="success != null"  class="text-center">
                <div *ngIf="success">
                    <h2 class="display-3 text-success">Success!</h2>

                    <span class="material-icons text-success display-1 m-5">
                        check_circle_outline
                    </span>

                    <h2 class="lead" *ngIf="!showChangeForm">Check your email to reset your password</h2>
                    <h2 class="lead" *ngIf="showChangeForm">Password changed</h2>
                    <a class="btn btn-outline-dark btn-lg my-4 out" *ngIf="showChangeForm" href="/login">Login</a>
                </div>

                <div *ngIf="!success">
                    <h2 class="display-3 text-danger">Error!</h2>

                    <span class="material-icons text-danger display-1 m-5">
                        error_outline
                    </span>

                    <h2 class="lead">Oops! Something went wrong</h2>
                    <h2 class="lead">{{message}}</h2>

                    <button class="btn btn-outline-dark btn-lg my-4 out" (click)="ngOnInit()">Try again</button>
                </div>
            </div>
        </div>
    </div>
</div>