<div class="container-fluid out py-5">
    <form class="out py-3">
        <div class="">
            <div class="my-5 text-center">
                <h1 class="display-5">Forgot password?</h1>
            </div>

            <div class="m-3 text-center">
                Please enter your email to retreive a link to create a new password
            </div>

            <div class="m-3">
                <input type="email" class="form-control out" placeholder="Email">
            </div>

            <div class="my-4 mx-3">
                <button class="btn btn-primary btn-lg out">Submit</button>
            </div>

            <div class="my-3 text-center">
                <small>Go back to <a href="/login">login</a></small>
            </div>
        </div>
    </form>
    <!-- <form class="py-3 out">
        <div class="">
            <div class="my-5 text-center">
                <h1 class="display-5">Enter your new password</h1>
            </div>

            <div class="m-3">
                <input type="password" class="form-control out" placeholder="Password">
            </div>

            <div class="m-3">
                <input type="password" class="form-control out" placeholder="Confirm Password">
            </div>

            <div class="my-4 mx-3">
                <button class="btn btn-primary btn-lg out">Reset Password</button>
            </div>
        </div>
    </form> -->
</div>