<footer>
    <div class="container-fluid">
        <hr>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <h5>Downloadable Forms</h5>
            </div>
            
            <div class="col">
                <h5>Links</h5>
            </div>

            <div class="col">
                <h5>Send us your feedback</h5>
            </div>
            <div class="col"></div>
        </div>

        <div class="row">
            <div class="col"></div>
            <div class="col">
                <p><a href="../../assets/Parkland-Registration-Editable.pdf" download="Registration_Form">Registration Form PDF</a></p>
            </div>

            <div class="col">
                <p><a href="https://www.facebook.com/profile.php?id=100063615158657">Facebook</a></p>
            </div>

            <div class="col">
                <p><a href="mailto:parklandpreschoolteam@gmail.com">Email</a></p>
            </div>
            <div class="col"></div>
        </div>

        <div class="row">
            <div class="col"></div>
            <div class="col">
                <p><a href="../../assets/parkland-parent-handbook.pdf">Parent Handbook</a></p>
            </div>

            <div class="col">
                <p><a href="https://parklandpreschool.com/">School Information</a></p>
            </div>

            <div class="col">
                <p><a href="tel:403225-0083">(403) 225-0083</a></p>
            </div>
            <div class="col"></div>
        </div>
    </div>
</footer>