div.container-fluid {
    background-position-x: center;
    background-size: contain;
    background-repeat: repeat-x;
    background-color: #3D4856;
    color: white;
}

/* div.row {
    background-color: #ffffff70;
} */

hr {
    margin: 0;
    padding: 0;
}

.material-icons {
    font-size: 30px;
    color: white;
}

a {
    color: white;
}