<app-loading-spinner [httpLoading]="loading"></app-loading-spinner>
<app-success-error-dialog [message]="message" [success]="success" (messageChanged)="messageChangedHandler($event)">
</app-success-error-dialog>

<div *ngIf="!passwordMode" [class.overlay]="loading">

    <div class="p-3 row">
        <div class="col"></div>
        <div class="col-auto">
            <button class="btn btn-outline-dark" (click)="edit()">
                <span class="material-icons">
                    edit
                </span>
            </button>
        </div>
    </div>

    <fieldset [disabled]="!editMode || loading">

        <form *ngIf="account != null" class="p-3" [formGroup]="editForm" (ngSubmit)="saveAccountChanges()">
            <div class="row p-3">
                <div class="col form-group" [hidden]="userRole != roles.admin || userRole == null || account.role == roles.user">
                    <label for="days">Account Type</label>
                    <select name="days" class="form-select" formControlName="role"
                        [class.is-invalid]="role.invalid && role.touched">
                        <option [value]="roles.admin">Admin</option>
                        <option [value]="roles.staff">Staff</option>
                    </select>
                    <small [class.d-none]="role.valid || role.untouched" class="text-danger">Select account
                        type</small>
                </div>

                <div class="col form-group">
                    <label for="start date">Email</label>
                    <input type="email" class="form-control" formControlName="email"
                        [class.is-invalid]="email.invalid && email.touched">
                    <small [class.d-none]="email.valid || email.untouched" class="text-danger">Enter email</small>
                </div>
            </div>

            <div class="row p-3">
                <div class="col form-group">
                    <label for="description">First Name</label>
                    <input type="text" class="form-control" formControlName="firstName"
                        [class.is-invalid]="firstName.invalid && firstName.touched">
                    <small [class.d-none]="firstName.valid || firstName.untouched" class="text-danger">Enter first
                        name</small>
                </div>

                <div class="col form-group">
                    <label for="age group">Last Name</label>
                    <input type="text" class="form-control" formControlName="lastName"
                        [class.is-invalid]="lastName.invalid && lastName.touched">
                    <small [class.d-none]="lastName.valid || lastName.untouched" class="text-danger">Enter last
                        name</small>
                </div>
            </div>

            <div class="row p-3">
                <div class="col">
                    <button class="btn btn-outline-dark" [hidden]="!editMode" (click)="changePasswordMode()">
                        Change Password
                    </button>
                </div>

                <div class="col-auto form-group">
                    <input type="submit" class="btn btn-primary" value="Save Changes" [disabled]="editForm.invalid"
                        [hidden]="!editMode">
                </div>
            </div>
        </form>
    </fieldset>
</div>

<div *ngIf="passwordMode">
    <fieldset [disabled]="!editMode || loading" [class.overlay]="loading">
        <div class="row p-3">
            <div class="col">
                <button class="btn btn-outline-primary" (click)="goToEditMode()">
                    <span class="material-icons">
                        arrow_back_ios_new
                    </span>
                </button>
            </div>
        </div>

        <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
            <div class="row p-3">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" formControlName="password"
                        [class.is-invalid]="password.invalid && password.touched || passwordForm.errors?.patternMismatch">
                    <small [class.d-none]="password.valid || password.untouched" class="text-danger">Enter
                        password</small>
                    <div [class.d-none]="!passwordForm.errors?.patternMismatch" class="text-danger m-2">
                        <small>Password must have the following:</small><br>
                        <small>At least 8 characters</small><br>
                        <small>At least one uppercase and lowercase letter</small><br>
                        <small>At least one number</small><br>
                        <small>At least one special character e.g. !@#?</small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirm password">Confirm Password</label>
                    <input type="password" class="form-control" formControlName="confirmPassword"
                        [class.is-invalid]="passwordForm.errors?.mismatch">
                    <small [class.d-none]="!passwordForm.errors?.mismatch" class="text-danger">Passwords do not
                        match</small>
                </div>
            </div>

            <div class="row p-3">
                <div class="col"></div>
                <div class="col-auto form-group">
                    <input type="submit" class="btn btn-primary" value="Change password"
                        [disabled]="passwordForm.invalid">
                </div>
            </div>
        </form>
    </fieldset>
</div>