<app-loading-spinner [httpLoading]="loading"></app-loading-spinner>
<div class="container">
    <fieldset [class.overlay]="loading" [disabled]="loading">
        <app-success-error-dialog [message]="message" [success]="success"
            (messageChanged)="messageChangedHandler($event)"></app-success-error-dialog>

        <form class="p-3" [formGroup]="addForm" (ngSubmit)="addClassroom()">
            <div class="row p-3">
                <div class="col form-group">
                    <label for="capacity">Capacity</label>
                    <input type="number" class="form-control" formControlName="capacity"
                        [class.is-invalid]="capacity.invalid && capacity.touched">
                    <small [class.d-none]="capacity.valid || capacity.untouched" class="text-danger">Enter number of
                        spots
                        available in class</small>
                </div>

                <div class="col form-group">
                    <label for="age group">Age</label>
                    <input type="number" class="form-control" formControlName="age"
                        [class.is-invalid]="age.invalid && age.touched">
                    <small [class.d-none]="age.valid || age.untouched" class="text-danger">Enter class age</small>
                </div>
            </div>

            <div class="row p-3">
                <div class="col form-group">
                    <label for="start date">Start Date</label>
                    <input type="date" class="form-control" formControlName="startDate"
                        [class.is-invalid]="startDate.invalid && startDate.touched">
                    <small [class.d-none]="startDate.valid || startDate.untouched" class="text-danger">Enter class start
                        date</small>
                </div>

                <div class="col form-group">
                    <label for="start time">Start Time</label>
                    <input type="time" class="form-control" formControlName="startTime"
                        [class.is-invalid]="startTime.invalid && startTime.touched">
                    <small [class.d-none]="startTime.valid || startTime.untouched" class="text-danger">Enter class start
                        time</small>
                </div>

                <div class="col form-group">
                    <label for="end date">End Date</label>
                    <input type="date" class="form-control" formControlName="endDate"
                        [class.is-invalid]="endDate.invalid && endDate.touched">
                    <small [class.d-none]="endDate.valid || endDate.untouched" class="text-danger">Enter class end
                        date</small>
                </div>

                <div class="col form-group">
                    <label for="end time">End Time</label>
                    <input type="time" class="form-control" formControlName="endTime"
                        [class.is-invalid]="endTime.invalid && endTime.touched">
                    <small [class.d-none]="endTime.valid || endTime.untouched" class="text-danger">Enter class end
                        time</small>
                </div>
            </div>

            <div class="row p-3">
                <div class="col form-group">
                    <label for="days">Days</label>
                    <input class="form-control" formControlName="days" [class.is-invalid]="days.invalid && days.touched">
                    <small [class.d-none]="days.valid || days.untouched" class="text-danger">Enter days class is in
                        session</small>
                </div>

                <div class="col form-group">
                    <label for="cost">Cost</label>
                    <input type="number" class="form-control" formControlName="cost" step=".01"
                        [class.is-invalid]="cost.invalid && cost.touched" placeholder="$">
                    <small [class.d-none]="cost.valid || cost.untouched" class="text-danger">Enter cost per
                        month</small>
                </div>

                <div class="col form-group">
                    <label for="service fees">Service Fees</label>
                    <input type="number" class="form-control" formControlName="serviceFee" step=".01"
                        [class.is-invalid]="serviceFee.invalid && serviceFee.touched" placeholder="$">
                    <small [class.d-none]="serviceFee.valid || serviceFee.untouched" class="text-danger">Enter service
                        fee for paypal payments</small>
                </div>
            </div>

            <div class="row p-3">
                <div class="col form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" formControlName="description"
                        [class.is-invalid]="description.invalid && description.touched">
                    <small [class.d-none]="description.valid || description.untouched" class="text-danger">Enter class
                        description</small>
                </div>
            </div>

            <div class="row p-3 justify-content-end">
                <div class="col-auto form-group">
                    <input type="submit" class="btn btn-success" value="Add Class" [disabled]="addForm.invalid">
                </div>
            </div>

        </form>
    </fieldset>
</div>