<div class="container" *ngIf="childContacts != null">
    <div *ngFor="let guardian of getChildContacts(contactTypes.guardian)">
        <app-child-contact-info [contact]="guardian"></app-child-contact-info>
    </div>
    <div *ngIf="getChildContacts(contactTypes.guardian).length < 2" class="alert alert-info" role="alert">
        You are missing guardian information please add the missing information
        <button class="btn btn-outline-dark px-3" (click)="addContactType(contactTypes.guardian)" data-bs-toggle="modal" data-bs-target="#addContact">Add Guardian Info</button>
    </div>

    <div *ngFor="let other of getChildContacts(contactTypes.other)">
        <app-child-contact-info [contact]="other"></app-child-contact-info>
    </div>
    <div *ngIf="getChildContacts(contactTypes.other).length < 1" class="alert alert-info" role="alert">
        You are missing information for other caregiver please add the missing information
        <button class="btn btn-outline-dark px-3" (click)="addContactType(contactTypes.other)" data-bs-toggle="modal" data-bs-target="#addContact">Add Other Caregiver Info</button>
    </div>

    <div *ngFor="let emergency of getChildContacts(contactTypes.emergency)">
        <app-child-contact-info [contact]="emergency"></app-child-contact-info>
    </div>
    <div *ngIf="getChildContacts(contactTypes.emergency).length < 1" class="alert alert-info" role="alert">
        You are missing information for emergency contact please add the missing information
        <button class="btn btn-outline-dark px-3" (click)="addContactType(contactTypes.emergency)" data-bs-toggle="modal" data-bs-target="#addContact">Add Emergency Contact Info</button>
    </div>

    <div *ngFor="let pickup of getChildContacts(contactTypes.pickup)">
        <app-child-contact-info [contact]="pickup"></app-child-contact-info>
    </div>
    <div *ngIf="getChildContacts(contactTypes.pickup).length < 2" class="alert alert-info" role="alert">
        You are missing information for authorized pickup please add the missing information
        <button class="btn btn-outline-dark px-3" (click)="addContactType(contactTypes.pickup)" data-bs-toggle="modal" data-bs-target="#addContact">Add Authorized Pickup Info</button>
    </div>
</div>

<!-- modal for adding a child contact-->
<div class="modal fade" id="addContact" data-bs-backdrop="static" tabindex="-1" aria-labelledby="addContactLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addContactLabel">Create New Contact</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-add-contact *ngIf="contactToAdd != null && childId != null" [childId]="childId" [type]="contactToAdd"></app-add-contact>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="ngOnInit()">Close</button>
        </div>
      </div>
    </div>
  </div>