<app-loading-spinner [httpLoading]="loading"></app-loading-spinner>

<app-success-error-dialog [message]="message" [success]="success" (messageChanged)="messageChangedHandler($event)">
</app-success-error-dialog>

<form [formGroup]="addChildForm" class="m-3" (ngSubmit)="addChild()">
    <fieldset [class.overlay]="loading" [disabled]="loading">
        <div class="row p-2">
            <div class="col form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" formControlName="firstName"
                    [class.is-invalid]="firstName.invalid && firstName.touched">
                <small [class.d-none]="firstName.valid || firstName.untouched" class="text-danger">Enter first
                    name</small>
            </div>

            <div class="col form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" formControlName="lastName"
                    [class.is-invalid]="lastName.invalid && lastName.touched">
                <small [class.d-none]="lastName.valid || lastName.untouched" class="text-danger">Enter last name</small>
            </div>
        </div>

        <div class="row p-2">
            <div class="col form-group">
                <label for="gender">Gender</label>
                <select class="form-select" formControlName="gender"
                    [class.is-invalid]="gender.invalid && gender.touched">
                    <option value="" selected disabled hidden>Select gender</option>
                    <option [value]="genders.girl">Girl</option>
                    <option [value]="genders.boy">Boy</option>
                </select>
                <small [class.d-none]="gender.valid || gender.untouched" class="text-danger">Select gender</small>
            </div>
            <div class="col form-group">
                <label for="birthdate">Birthdate</label>
                <input type="date" class="form-control" formControlName="birthdate"
                    [class.is-invalid]="birthdate.invalid && birthdate.touched">
                <small [class.d-none]="birthdate.valid || birthdate.untouched" class="text-danger">Enter
                    birthdate</small>
            </div>
        </div>

        <div class="row p-2">
            <div class="col form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" formControlName="address"
                    [class.is-invalid]="address.invalid && address.touched">
                <small [class.d-none]="address.valid || address.untouched" class="text-danger">Enter address</small>
            </div>

            <div class="col form-group">
                <label for="postalCode">Postal Code</label>
                <input type="text" class="form-control" formControlName="postalCode"
                    [class.is-invalid]="postalCode.invalid && postalCode.touched">
                <small [class.d-none]="postalCode.valid || postalCode.untouched" class="text-danger">Enter postal
                    code</small>
            </div>
        </div>

        <div class="row p-2">
            <div class="col form-group">
                <label for="healthCareNum">Alberta Health Care #</label>
                <input type="text" class="form-control" formControlName="healthCareNum"
                    [class.is-invalid]="healthCareNum.invalid && healthCareNum.touched">
                <small [class.d-none]="healthCareNum.valid || healthCareNum.untouched" class="text-danger">Enter health
                    care number</small>
            </div>

            <div class="col form-group">
                <label for="allergy">Allery/Dietary Requirements</label>
                <textarea class="form-control" cols="30" rows="3" formControlName="allergy"></textarea>
            </div>
        </div>

        <div class="row p-2">
            <div class="col form-group">
                <label for="doctorClinic">Doctor/Walk-in Clinic</label>
                <input type="text" class="form-control" formControlName="doctorClinic"
                    [class.is-invalid]="doctorClinic.invalid && doctorClinic.touched">
                <small [class.d-none]="doctorClinic.valid || doctorClinic.untouched" class="text-danger">Enter doctor or
                    clinic</small>
            </div>

            <div class="col form-group">
                <label for="medicalPhone">Doctor/Clinic Phone Number</label>
                <input type="tel" class="form-control" formControlName="medicalPhoneNumber"
                    [class.is-invalid]="medicalPhoneNumber.invalid && medicalPhoneNumber.touched">
                <small [class.d-none]="medicalPhoneNumber.valid || medicalPhoneNumber.untouched"
                    class="text-danger">Enter phone number for doctor/clinic</small>
            </div>
        </div>

        <div class="row p-2">
            <div class="col form-group">
                <label for="immunizations">Immunizations up to date?</label>
                <div class="form-check form-check-inline mx-2">
                    <input type="radio" value="true" name="immunizations" class="form-check-input"
                        formControlName="immunizations">
                    <label for="yes">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" value="false" name="immunizations" class="form-check-input"
                        formControlName="immunizations">
                    <label for="no">No</label>
                </div>
                <small [class.d-none]="immunizations.valid || medicalConditions.untouched" class="text-danger">Select
                    yes or no</small>
            </div>

            <div class="col form-group">
                <label for="immunizations">Has had chiken pox?</label>
                <div class="form-check form-check-inline mx-2">
                    <input type="radio" value="true" name="chickenPox" class="form-check-input"
                        formControlName="chickenPox">
                    <label for="yes">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" value="false" name="chickenPox" class="form-check-input"
                        formControlName="chickenPox">
                    <label for="no">No</label>
                </div>
                <small [class.d-none]="chickenPox.valid || medicalConditions.untouched" class="text-danger">Select yes
                    or no</small>
            </div>
        </div>

        <div class="row p-2">
            <div class="col form-group">
                <label for="immunizations">Taking medications?</label>
                <div class="form-check form-check-inline mx-2">
                    <input type="radio" value="true" name="medications" class="form-check-input"
                        formControlName="medications">
                    <label for="yes">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" value="false" name="medications" class="form-check-input"
                        formControlName="medications">
                    <label for="no">No</label>
                </div>
                <small [class.d-none]="medications.valid || medicalConditions.untouched" class="text-danger">Select yes
                    or no</small>
            </div>


            <div class="col form-group">
                <label for="medicalConditions">Special Medical Conditions</label>
                <textarea class="form-control" cols="30" rows="3" formControlName="medicalConditions"></textarea>
            </div>
        </div>

        <div class="row mt-5 p-2">
            <div class="col form-group">
            </div>
            <div class="col-auto form-group">
                <button class="btn btn-outline-success" [disabled]="!addChildForm.valid">Add Child</button>
            </div>
        </div>
    </fieldset>
</form>