<app-loading-spinner [httpLoading]="loading"></app-loading-spinner>

<app-success-error-dialog [message]="message" [success]="success" (messageChanged)="messageChangedHandler($event)">
</app-success-error-dialog>

<form [formGroup]="addChildForm" class="m-3" (ngSubmit)="addChild()">
    <fieldset [class.overlay]="loading" [disabled]="loading">
        <div class="row p-2">
            <div class="col form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" formControlName="firstName"
                    [class.is-invalid]="firstName.invalid && firstName.touched">
                <small [class.d-none]="firstName.valid || firstName.untouched" class="text-danger">Enter first
                    name</small>
            </div>

            <div class="col form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" formControlName="lastName"
                    [class.is-invalid]="lastName.invalid && lastName.touched">
                <small [class.d-none]="lastName.valid || lastName.untouched" class="text-danger">Enter last name</small>
            </div>
        </div>

        <div class="row mt-5 p-2">
            <div class="col form-group">
            </div>
            <div class="col-auto form-group">
                <button class="btn btn-success" [disabled]="!addChildForm.valid">Add Child</button>
            </div>
        </div>
    </fieldset>
</form>