<app-nav-bar></app-nav-bar>
<app-loading-spinner [httpLoading]="loading"></app-loading-spinner>
<div class="container p-3" [class.overlay]="loading">
    <div class="row m-3">
        <div class="col-lg-auto">
            <select class="form-select" id="class" (change)="selectClass()">
                <option value="" selected disabled hidden>Select Class</option>
                <option *ngFor="let class of classes" [value]="class.id"> {{class.description}} </option>
            </select>
        </div>
    </div>

    <div class="bg-light bg-gradient p-3">
        <div class="row">
            <div class="col">
                <h3>Class List</h3>
            </div>
            <div class="col-auto" *ngIf="classId != null && registrations.length != 0"><a [href]="'mailto:' + classEmail"
                    class="btn btn-outline-primary">Email Class</a>
            </div>
        </div>
    </div>

    <div *ngIf="classId == null" class="alert alert-info m-3" role="alert">
        Select a class to view class list
    </div>

    <div class="table-responsive-lg m-3" *ngIf="classroom != null && registrations != null">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2">{{classroom.description}}</th>
                    <th>{{classroom.days}}</th>
                    <th>{{classroom.startDate | date:'shortDate'}} - {{classroom.endDate | date:'shortDate'}}</th>
                    <th>{{classroom.startDate | date:'shortTime'}} - {{classroom.endDate | date:'shortTime'}}</th>
                </tr>
                <tr>
                    <th>Name</th>
                    <th>Guardian</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let registration of registrations; let i = index">
                    <td>{{registration.child.firstName}} {{registration.child.lastName}}</td>
                    <td>{{registration.child.account.firstName}} {{registration.child.account.lastName}}</td>
                    <td><a
                            [href]="'mailto:' + registration.child.account.email">{{registration.child.account.email}}</a>
                    </td>
                    <td>{{registration.child.phoneNumber}}</td>
                    <td>
                        <button class="btn btn-link" data-bs-toggle="modal" data-bs-target="#childInfo" (click)="selectChild(i)">
                            <span class="material-icons">
                                read_more
                            </span>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="2">{{classroom.enrolled}} enrolled</th>
                    <th colspan="3">{{classroom.capacity}} spot(s)</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<!-- modal for viewing registration info-->
<div class="modal fade" id="childInfo" tabindex="-1" aria-labelledby="childInfoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="childInfoLabel">Registration Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" *ngIf="selectedChildId != null">
                <app-child-info [childId]="selectedChildId"></app-child-info>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>