<div class="container-fluid out py-5">
    <form class="out py-3">
        <div class="">
            <div class="my-5 text-center">
                <span class="material-icons">
                    account_circle
                    </span>
            </div>

            <div class="m-3">
                <input type="text" class="form-control out" placeholder="Email">
            </div>

            <div class="m-3">
                <input type="password" class="form-control out" placeholder="Password">
            </div>

            <div class="m-3 text-center">
                <small><a href="/passwordreset">Forgot your email or password?</a></small>
            </div>

            <div class="my-4 mx-3">
                <button class="btn btn-primary btn-lg out">Log In</button>
            </div>

            <div class="my-3 text-center">
                <small>Don't have an account? <a href="/signup">Sign up here</a></small>
            </div>
        </div>

    </form>
</div>