<div class="container">
    <app-success-error-dialog [message]="message" [success]="success" (messageChanged)="messageChangedHandler($event)">
    </app-success-error-dialog>

    <app-payment-details [paymentId]="paymentId"></app-payment-details>
    <form [class.d-none]="paymentDetails.paymentStatus == status.paid" [formGroup]="paymentForm"
        (ngSubmit)="processPayment()">
        <fieldset [disabled]="loading">
            <div class="row">
                <div class="col form-group">
                    <label for="">Received by</label>
                    <input type="text" class="form-control" formControlName="payee">
                </div>
            </div>

            <div class="row">
                <div class="col form-group">
                    <label for="">Payer</label>
                    <input type="text" class="form-control" formControlName="payer">
                </div>
            </div>

            <div class="row">
                <div class="col form-group">
                    <label for="">Method</label>
                    <input type="text" class="form-control" placeholder="PayPal, Cash, E-Transfer, Cheque..."
                        formControlName="method">
                </div>
            </div>

            <div class="row p-3 justify-content-end">
                <div class="col-auto form-group">
                    <button type="submit" value="Process Payment" class="btn btn-primary" [disabled]="paymentForm.invalid || loading">
                        <span [class.visually-hidden]="!loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span [class.visually-hidden]="!loading">Loading...</span>
                        <span [class.visually-hidden]="loading">Process Payment</span>
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<!-- <app-loading-spinner class="overlay" [httpLoading]="loading"></app-loading-spinner> -->
