<div class="container">
    <div *ngIf="currentPage == 1">
        <div class="progress my-4">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 0" aria-valuenow="0"
                aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <form [formGroup]="childForm">
            <div class="row p-3">
                <div class="col form-group">
                    <select class="form-select" (change)="selectChild()" formControlName="childId">
                        <option value="" selected disabled hidden>Select child</option>
                        <option value="new">Add Child Info</option>
                        <option *ngFor="let child of childList" [value]="child.id">{{child.firstName}}
                            {{child.lastName}}</option>
                    </select>
                </div>
            </div>
        </form>

        <app-add-child *ngIf="showAddChildForm" (updated)="updatedHandler($event)"></app-add-child>
    </div>

    <div *ngIf="currentPage == 2">
        <div class="progress my-4">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10"
                aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <app-child-info-edit [childId]="selectedChildId"></app-child-info-edit>
    </div>

    <div *ngIf="currentPage == 3">
        <div class="progress my-4">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10"
                aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <form [formGroup]="classForm">
            <div class="row p-3">
                <div class="col form-group">
                    <select class="form-select" formControlName="classId" (change)="selectClass()">
                        <option value="" selected disabled hidden>Select class</option>
                        <option *ngFor="let class of classrooms; let i = index" [value]="i"> {{class.description}} </option>
                    </select>
                </div>
            </div>
        </form>

        <div class="m-3" *ngIf="classroom != null">
            <div class="alert alert-warning" *ngIf="classroom.enrolled >= classroom.capacity" role="alert">
                This class is full, you will be added to the wait list once your registration is complete
              </div>

            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">Class Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Class</th>
                        <td> {{classroom.description}} </td>
                    </tr>
                    <tr>
                        <th>Days</th>
                        <td *ngIf="classroom.days == days.mwf">Monday/Wednesday/Friday</td>
                        <td *ngIf="classroom.days == days.tth">Tuesday/Thursday</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{{classroom.startDate | date:'shortDate'}} - {{classroom.endDate | date:'shortDate'}}</td>
                    </tr>
                    <tr>
                        <th>Time</th>
                        <td>{{classroom.startDate | date:'shortTime'}} - {{classroom.endDate | date:'shortTime'}}</td>
                    </tr>
                    <tr>
                        <th>Enrolled</th>
                        <td>{{classroom.enrolled}}/{{classroom.capacity}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="currentPage == 4">
        <div class="progress my-4">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 25%" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <app-child-contacts [childId]="selectedChildId"></app-child-contacts>
    </div>

    <div class="row my-4">
        <div class="col form-group">
            <button class="btn btn-secondary">Cancel</button>
        </div>
        <div class="col-auto form-group">
            <button class="btn btn-outline-primary" type="button" (click)="next()"
                [disabled]="!childForm.valid || showAddChildForm">Next</button>
        </div>
    </div>
</div>