<app-loading-spinner [httpLoading]="loading"></app-loading-spinner>

<app-success-error-dialog [message]="message" [success]="success" (messageChanged)="messageChangedHandler($event)">
</app-success-error-dialog>

<form [formGroup]="editContactForm" (ngSubmit)="saveChanges()">
    <div class="row mt-5 p-2">
        <div class="col form-group">
            <h4 *ngIf="contact.type == contactTypes.guardian">Guardian</h4>
            <h4 *ngIf="contact.type == contactTypes.other">Other Caregiver</h4>
            <h4 *ngIf="contact.type == contactTypes.emergency">Emergency Contact</h4>
            <h4 *ngIf="contact.type == contactTypes.pickup">Authorized Pickup</h4>
        </div>
        <div class="col-auto form-group">
            <button class="btn btn-outline-dark" (click)="edit()" type="button"><span class="material-icons">edit</span></button>
        </div>
    </div>

    <fieldset [class.overlay]="loading" [disabled]="loading || !editMode">
        <div class="row p-2">
            <div class="col form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" formControlName="firstName"
                    [class.is-invalid]="firstName.invalid && firstName.touched">
                <small [class.d-none]="firstName.valid || firstName.untouched" class="text-danger">Enter first
                    name</small>
            </div>

            <div class="col form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" formControlName="lastName"
                    [class.is-invalid]="lastName.invalid && lastName.touched">
                <small [class.d-none]="lastName.valid || lastName.untouched" class="text-danger">Enter last name</small>
            </div>
        </div>

        <div class="row p-2" [hidden]="contact.type == contactTypes.pickup">
            <div class="col form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" formControlName="address"
                    [class.is-invalid]="address.invalid && address.touched">
                <small [class.d-none]="address.valid || address.untouched" class="text-danger">Enter address</small>
            </div>

            <div class="col form-group">
                <label for="postalCode">Phone Number</label>
                <input type="tel" class="form-control" formControlName="homePhoneNumber"
                    [class.is-invalid]="homePhoneNumber.invalid && homePhoneNumber.touched">
                <small [class.d-none]="homePhoneNumber.valid || homePhoneNumber.untouched" class="text-danger">Enter home phone number</small>
            </div>
        </div>

        <div class="row p-2" [hidden]="contact.type == contactTypes.pickup || contact.type == contactTypes.other">
            <div class="col form-group" [hidden]="contact.type == contactTypes.emergency">
                <label for="postalCode">Work Phone Number</label>
                <input type="tel" class="form-control" formControlName="workPhoneNumber"
                    [class.is-invalid]="workPhoneNumber.invalid && workPhoneNumber.touched">
                <small [class.d-none]="workPhoneNumber.valid || workPhoneNumber.untouched" class="text-danger">Enter work phone number</small>
            </div>

            <div class="col form-group">
                <label for="postalCode">Cellphone Number</label>
                <input type="tel" class="form-control" formControlName="cellNumber"
                    [class.is-invalid]="cellNumber.invalid && cellNumber.touched">
                <small [class.d-none]="cellNumber.valid || cellNumber.untouched" class="text-danger">Enter cell phone number</small>
            </div>
        </div>

        <div class="row p-2" [hidden]="contact.type == contactTypes.pickup|| contact.type == contactTypes.other">
            <div class="col form-group">
                <label for="postalCode">Relation To Child</label>
                <input type="text" class="form-control" formControlName="relationToChild"
                    [class.is-invalid]="relationToChild.invalid && relationToChild.touched">
                <small [class.d-none]="relationToChild.valid || relationToChild.untouched" class="text-danger">Enter relation to child</small>
            </div>

            <!-- <div class="col form-group">
            </div> -->
        </div>

        <div class="row mt-5 p-2">
            <div class="col form-group">
            </div>

            <div class="col-auto form-group">
                <button [hidden]="!editMode" class="btn btn-outline-success" [disabled]="!editContactForm.valid">Save Changes</button>
            </div>
        </div>
    </fieldset>
</form>
