<table class="table table-hover" *ngIf="registration !=null">
    <thead>
        <tr>
            <th colspan="2">Registration Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Class</th>
            <td>{{registration.classroom.description}}</td>
        </tr>
        <tr>
            <th>Days</th>
            <td>{{registration.classroom.days}}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{registration.classroom.startDate | date:'shortDate'}} - {{registration.classroom.endDate |
                date:'shortDate'}}</td>
        </tr>
        <tr>
            <th>Time</th>
            <td>{{registration.classroom.startDate | date:'shortTime'}} - {{registration.classroom.endDate |
                date:'shortTime'}}</td>
        </tr>
        <tr>
            <th>Cost per month</th>
            <td>{{registration.classroom.costPerMonth | currency}}</td>
        </tr>
        <tr>
            <th>Registered on</th>
            <td>{{registration.registrationDate | date:'MM/d/yy HH:mm'}}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td *ngIf="registration.status == status.registered">Registered</td>
            <td *ngIf="registration.status == status.unregistered">Pending registration fee payment</td>
            <td *ngIf="registration.status == status.pending">Pending admin confirmation</td>
            <td *ngIf="registration.status == status.waitlisted">Waitlisted</td>
            <td *ngIf="registration.status == status.spotOffered">Offered spot</td>
        </tr>
        <tr>
            <th>Enrolled</th>
            <td>{{registration.classroom.enrolled}}/{{registration.classroom.capacity}}</td>
        </tr>
    </tbody>
</table>