<div class="container p-3" *ngIf="registration != null">
    <div class="row">
        <div class="col-auto">Class:</div>
        <div class="col">{{registration.classroom.description}}</div>
    </div>

    <div class="row">
        <div class="col-auto">Days:</div>
        <div class="col" *ngIf="registration.classroom.days == days.mwf">Monday/Wednesday/Friday</div>
        <div class="col" *ngIf="registration.classroom.days == days.tth">Tuesday/Thursday</div>
    </div>

    <div class="row">
        <div class="col-auto">Date:</div>
        <div class="col">{{registration.classroom.startDate | date:'shortDate'}} - {{registration.classroom.endDate |
            date:'shortDate'}}</div>
    </div>

    <div class="row">
        <div class="col-auto">Time:</div>
        <div class="col">{{registration.classroom.startDate | date:'shortTime'}} - {{registration.classroom.endDate |
            date:'shortTime'}}</div>
    </div>

    <div class="row">
        <div class="col-auto">
            Registered on:
        </div>
        <div class="col">{{registration.registrationDate | date:'MM/d/yy HH:mm'}}</div>
    </div>

    <div class="row">
        <div class="col-auto">
            Status:
        </div>
        <div class="col" *ngIf="registration.status == status.registered">Registered</div>
        <div class="col" *ngIf="registration.status == status.unregistered">Pending registration fee payment</div>
        <div class="col" *ngIf="registration.status == status.pending">Pending admin confirmation</div>
        <div class="col" *ngIf="registration.status == status.waitlisted">Wait Listed</div>
    </div>
</div>