<div class="container">

    <app-success-error-dialog [message]="message" [success]="success" (messageChanged)="messageChangedHandler($event)"></app-success-error-dialog>

    <form class="m-3" [formGroup]="addForm" (ngSubmit)="addPayment()">
        <div class="row p-3">
            <div class="col form-group">
                <label for="">Description</label>
                <input type="text" class="form-control" formControlName="description"
                [class.is-invalid]="description.invalid && description.touched">
                <small [class.d-none]="description.valid || description.untouched" class="text-danger">Enter description</small>
            </div>

            <div class="col form-group">
                <label for="">Month</label>
                <select class="form-select" formControlName="month" [class.is-invalid]="month.invalid && month.touched">
                    <option value="" selected disabled hidden>Select month</option>
                    <option value="JANUARY">Jan</option>
                    <option value="FEBRUARY">Feb</option>
                    <option value="MARCH">Mar</option>
                    <option value="APRIL">Apr</option>
                    <option value="MAY">May </option>
                    <option value="JUNE">Jun</option>
                    <option value="JULY">Jul</option>
                    <option value="AUGUST">Aug</option>
                    <option value="SEPTEMBER">Sept</option>
                    <option value="OCTOBER">Oct</option>
                    <option value="NOVEMBER">Nov</option>
                    <option value="DECEMBER">Dec</option>
                </select>
                <small [class.d-none]="month.valid || month.untouched" class="text-danger">Select month payment is for</small>
            </div>
        </div>

        <div class="row p-3">
            <div class="col form-group">
                <label for="">Cost</label>
                <input type="number" class="form-control" step="0.01" placeholder="$" formControlName="cost"
                [class.is-invalid]="cost.invalid && cost.touched">
                <small [class.d-none]="cost.valid || cost.untouched" class="text-danger">Enter cost</small>
            </div>

            <div class="col form-group">
                <label for="">Service Fees</label>
                <input type="number" class="form-control" step="0.01" placeholder="$" formControlName="serviceFees"
                [class.is-invalid]="serviceFees.invalid && serviceFees.touched">
                <small [class.d-none]="serviceFees.valid || serviceFees.untouched" class="text-danger">Enter service fees for paypal payments</small>
            </div>
        </div>

        <div class="row p-3">
            <div class="col form-group">
                <label for="">Class</label>
                <select size="5"  class="form-select" formControlName="class" [class.is-invalid]="class.invalid && class.touched" (change)="toggleClassSelection()">
                    <option value="" selected disabled hidden>Select class</option>
                    <option *ngFor="let class of classrooms; let i = index" [value]="i">{{class.description}}</option>
                </select>
                <small [class.d-none]="class.valid || class.untouched" class="text-danger">Select class</small>
            </div>

            <div class="col form-group">
                <label for="">Payment for</label>
                <select size="5" class="form-select" formControlName="paymentFor" [class.is-invalid]="paymentFor.invalid && paymentFor.touched">
                    <option value="" selected disabled hidden>Select who the payment is for</option>
                    <option value="all">All Registered Children</option>
                    <option *ngFor="let registration of registrations" [value]="registration.id">{{registration.child.firstName}} {{registration.child.lastName}}</option>
                </select>
                <small [class.d-none]="paymentFor.valid || paymentFor.untouched" class="text-danger">Select registrations to add the payment to</small>
            </div>
        </div>

        <div class="row p-3 justify-content-end">
            <div class="col-auto form-group">
                <input type="submit" value="Create Payment Entry" class="btn btn-primary" [disabled]="addForm.invalid">
            </div>
        </div>
    </form>
</div>