<app-loading-spinner [httpLoading]="loading"></app-loading-spinner>
<div class="container">
    <fieldset [class.overlay]="loading" [disabled]="loading">
        <app-success-error-dialog [message]="message" [success]="success"
            (messageChanged)="messageChangedHandler($event)"></app-success-error-dialog>

        <form class="m-3" [formGroup]="addForm" (ngSubmit)="addPayment()">
            <div class="row p-3">
                <div class="col form-group">
                    <select class="form-select" (change)="toggleInputs()" formControlName="type"
                        [class.is-invalid]="type.invalid && type.touched">
                        <option value="" selected disabled hidden>Payment Type</option>
                        <option value="month">Monthly Payment</option>
                        <option value="full">Full Tuition Payment</option>
                        <option value="misc">Miscellaneous</option>
                    </select>
                    <small [class.d-none]="type.valid || type.untouched" class="text-danger">Select payment type</small>

                    <small class="mt-2" *ngIf="type.value == 'month'">The monthly fee for the current month will be
                        created for the chosen class and added to registrations that have been approved by the
                        admin and have not paid the full tuition.</small>
                </div>
            </div>

            <div class="row p-3" [hidden]="visibleInputs < 3 || type.value == 'month' || type.value == 'full'">
                <div class="col form-group">
                    <label for="">Description</label>
                    <input type="text" class="form-control" formControlName="description"
                        [class.is-invalid]="description.invalid && description.touched || addForm.errors?.descriptionInvalid">
                    <small [class.d-none]="description.valid || description.untouched" class="text-danger">Enter
                        description</small>
                    <small [class.d-none]="!addForm.errors?.descriptionInvalid || description.untouched"
                        class="text-danger">To enter a full tuition paymet change the payment type</small>
                </div>

                <div class="col form-group">
                    <label for="">Month</label>
                    <select class="form-select" formControlName="month" (change)="togglePaymentFor()"
                        [class.is-invalid]="month.invalid && month.touched">
                        <option value="" selected disabled hidden>Select month</option>
                        <option value="1">Jan</option>
                        <option value="2">Feb</option>
                        <option value="3">Mar</option>
                        <option value="4">Apr</option>
                        <option value="5">May </option>
                        <option value="6">Jun</option>
                        <option value="7">Jul</option>
                        <option value="8">Aug</option>
                        <option value="9">Sept</option>
                        <option value="10">Oct</option>
                        <option value="11">Nov</option>
                        <option value="12">Dec</option>
                    </select>
                    <small [class.d-none]="month.valid || month.untouched" class="text-danger">Select month payment is
                        for</small>
                </div>
            </div>

            <div class="row p-3" *ngIf="visibleInputs >= 5">
                <div class="col form-group">
                    <label for="">Class</label>
                    <select size="5" class="form-select" formControlName="class" (change)="toggleClassSelection()"
                        [class.is-invalid]="class.invalid && class.touched">
                        <option value="" selected disabled hidden>Select class</option>
                        <option *ngFor="let class of classrooms; let i = index" [value]="i">{{class.description}}
                        </option>
                    </select>
                    <small [class.d-none]="class.valid || class.untouched" class="text-danger">Select class</small>
                </div>

                <div class="col form-group" [hidden]="type.value == 'month'">
                    <label for="">Payment for</label>
                    <select size="5" class="form-select" formControlName="paymentFor" (change)="toggleCost()"
                        [class.is-invalid]="paymentFor.invalid && paymentFor.touched">
                        <option value="" selected disabled hidden>Select who the payment is for</option>
                        <option *ngIf="type.value == 'misc'" value="all">All Registered Children</option>
                        <option *ngFor="let registration of registrations" [value]="registration.id">
                            {{registration.child.firstName}} {{registration.child.lastName}}</option>
                    </select>
                    <small [class.d-none]="paymentFor.valid || paymentFor.untouched" class="text-danger">Select
                        registrations to add the payment to</small>
                </div>
            </div>

            <div class="row p-3" [hidden]="visibleInputs < 7">
                <div class="col form-group">
                    <label for="">Cost</label>
                    <input [readOnly]="type.value == 'month'" type="number" class="form-control" step="0.01"
                        placeholder="$" formControlName="cost" [class.is-invalid]="cost.invalid && cost.touched">
                    <small [class.d-none]="cost.valid || cost.untouched" class="text-danger">Enter cost</small>
                    <small [class.d-none]="type.value != 'month'">This cost is based on the cost per month of the
                        class</small>
                </div>

                <div class="col form-group">
                    <label for="">Service Fees</label>
                    <input type="number" class="form-control" step="0.01" placeholder="$" formControlName="serviceFees"
                        [class.is-invalid]="serviceFees.invalid && serviceFees.touched">
                    <small [class.d-none]="serviceFees.valid || serviceFees.untouched" class="text-danger">Enter service
                        fees for paypal payments</small>
                    <small>PayPal charges 2.9% of the total amount plus $0.30 per transactions</small>
                </div>
            </div>

            <div class="row p-3 justify-content-end">
                <div class="col-auto form-group">
                    <input type="submit" value="Create Payment Entry" class="btn btn-primary"
                        [disabled]="addForm.invalid">
                </div>
            </div>
        </form>
    </fieldset>
</div>