<app-loading-spinner [httpLoading]="loading"></app-loading-spinner>
<div class="container">
    <app-success-error-dialog [message]="message" [success]="success" (messageChanged)="messageChangedHandler($event)"></app-success-error-dialog>
    <div class="p-3 row">
        <div class="col"></div>
        <div class="col-auto">
            <button class="btn btn-outline-dark" (click)="edit()">
                <span class="material-icons">
                    edit
                </span>
            </button>
        </div>

        <!-- <div class="col-auto">
            <button *ngIf="class.openRegistration" class="btn btn-outline-primary">
                Close Registration
            </button>
            <button *ngIf="!class.openRegistration" class="btn btn-outline-primary">
                Open Registration
            </button>
        </div> -->
    </div>

    <form class="p-3" [formGroup]="editForm">
        <fieldset [disabled]="!editMode || loading">
            <div class="row p-3">
                <div class="col form-group">
                    <label for="capacity">Capacity</label>
                    <input type="number" class="form-control" formControlName="capacity"
                        [class.is-invalid]="capacity.invalid && capacity.touched">
                    <small [class.d-none]="capacity.valid || capacity.untouched" class="text-danger">Enter number of
                        spots available in class</small>
                </div>

                <div class="col form-group">
                    <label for="age group">Age</label>
                    <input type="number" class="form-control" min="3" max="5" formControlName="age"
                        [class.is-invalid]="age.invalid && age.touched">
                    <small [class.d-none]="age.valid || age.untouched" class="text-danger">Enter class age</small>
                </div>
            </div>

            <div class="row p-3">
                <div class="col form-group">
                    <label for="start date">Start Date</label>
                    <input type="date" class="form-control" formControlName="startDate"
                        [class.is-invalid]="startDate.invalid && startDate.touched">
                    <small [class.d-none]="startDate.valid || startDate.untouched" class="text-danger">Enter class start
                        date</small>
                </div>

                <div class="col form-group">
                    <label for="start time">Start Time</label>
                    <input type="time" class="form-control" formControlName="startTime"
                        [class.is-invalid]="startTime.invalid && startTime.touched">
                    <small [class.d-none]="startTime.valid || startTime.untouched" class="text-danger">Enter class start
                        time</small>
                </div>

                <div class="col form-group">
                    <label for="end date">End Date</label>
                    <input type="date" class="form-control" formControlName="endDate"
                        [class.is-invalid]="endDate.invalid && endDate.touched">
                    <small [class.d-none]="endDate.valid || endDate.untouched" class="text-danger">Enter class end
                        date</small>
                </div>

                <div class="col form-group">
                    <label for="end time">End Time</label>
                    <input type="time" class="form-control" formControlName="endTime"
                        [class.is-invalid]="endTime.invalid && endTime.touched">
                    <small [class.d-none]="endTime.valid || endTime.untouched" class="text-danger">Enter class end
                        time</small>
                </div>
            </div>

            <div class="row p-3">
                <div class="col form-group">
                    <label for="days">Days</label>
                    <input class="form-control" formControlName="days" [class.is-invalid]="days.invalid && days.touched">
                    <small [class.d-none]="days.valid || days.untouched" class="text-danger">Enter dyas class is in
                        session</small>
                </div>
                <div class="col form-group">
                    <label for="cost">Cost</label>
                    <input type="number" class="form-control" formControlName="cost"
                        [class.is-invalid]="cost.invalid && cost.touched">
                    <small [class.d-none]="cost.valid || cost.untouched" class="text-danger">Enter cost per
                        month</small>
                </div>
            </div>

            <div class="row p-3">
                <div class="col form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" formControlName="description" step=".01"
                        [class.is-invalid]="description.invalid && description.touched">
                    <small [class.d-none]="description.valid || description.untouched" class="text-danger">Enter class
                        description</small>
                </div>
            </div>

            <div class="row p-3">
                <div class="col">
                </div>

                <div class="col-auto form-group">
                    <input type="submit" class="btn btn-primary" value="Save Changes" [disabled]="editForm.invalid"
                        [hidden]="!editMode" (click)="updateClassroom()">
                </div>
            </div>

        </fieldset>
    </form>
</div>