div.card.out {
    margin: auto;
}

button.out {
    width: 100%;
}

a.out {
    width: 100%;
}

input.out {
    background-color: #ffffff;
    border: none;
    border-bottom: solid 1px rgb(193, 197, 199);
    height: 50px;
}

div.scrollable {
    height: 300px;
    overflow: scroll;
}

input[type=number].page-entries {
    width: 70px;
    display: inline;
    text-align: center;
}

.overlay {
    background: white;
    opacity: 0.5;
    overflow: hidden;
}
